* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {

    background-color: rgb(255, 255, 255);

}

header {
    top: 0%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #1b1b54;
    position: fixed;
    z-index: 2;
    box-shadow: 0 4px 10px -2px rgba(1, 9, 17, 0.6);
}

.logo {
    margin-left: -15px;
    width: 190px;
}

.header-icon {
    margin: 0px 10px;
}

.header-icon svg {
    margin: 0px 30px;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: rgba(22, 43, 97, 0.6) 0px 0px 10px, rgba(22, 43, 97, 0.6) 0px 0px 10px;

}

.search input {
    font-size: 14px;
    width: 100%;
    height: 40px;
    color: #3e4d72;
    border: none;
    outline: none;
    padding-left: 10px;
    font-weight: 550;
}

::-webkit-input-placeholder,
.search-icon {
    color: #3e4d72;
}

.header-icon span{
    /* background-color:#1b1b54; */
    z-index: 1;
    padding: 2px 4px ;
    text-align: center;
    border-radius: 100px;
    font-size: 10px;
    background-color:orange;
    /* border:orange solid 2px; */
    font-weight:bolder;
    color: rgb(255, 255, 255);
    position: relative;
    top: -12px;
    left: -46px;
}

.header-icon a{
    text-decoration: none;
}


.company-name {
    position: relative;
    top: 110px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.company-name:before,
.company-name:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 300px;
    content: "";
    z-index: 1;
}

.company-name:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);

}

.company-name:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);

}

.company-slider {
    display: flex;
    animation: 15s slide infinite linear;
}

.company-slider h1 {
    padding: 0px 20px;
    color: #ffffff;
    margin: 0px;
    animation: blink-font-color 0.5s infinite;
}

::-webkit-scrollbar {
    width: 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes blink-font-color {

    0%,
    49% {
        color: black;
        background-color: #ff5500;
    }

    50%,
    100% {
        color: #ffffff;
        background-color: #000000;
    }
}



.product-container {
    position: relative;
    top: 140px;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-card img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(228, 214, 200);
}

.product-card {
    border: #af3737 solid 1px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card h1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(37, 36, 36);
    margin: 10px 0px;
    text-align: left;
}

.product-card h3 {
    font-size: 15px;
    color: rgb(73, 68, 68);
    font-weight: lighter;
}

.product-card h2 {
    font-size: 35px;
}

.product-card button {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #d95d1f;
    border: none;
    border: #d95d1f 2px solid;
    margin-top: 10px;
    border-radius: 10px;
}

.product-card button:hover{
    color: #d95d1f;
    border:#d95d1f 2px solid;
    background-color:rgb(255, 233, 211);
}

.checked {
    color: orange;
}


footer {
    position: relative;
    top: 150px;
    padding-top: 20px;
    background-color: #21394a;
}


.payment-app-container {
    display: flex;
    justify-content: space-around;
}

.payment-methods img,
.download-apps img {
    width: 35px;
    padding: 6px;
    margin: 5px;
}

.download-apps img {
    width: 48px;
}

.download-apps img:hover {
    scale: 1.2;
    transition-duration: 900ms;
}

.payment-methods h2,
.download-apps h2 {
    padding: 10px;
    color: rgb(197, 218, 237);
}

.payment-methods,
.download-apps {
    margin-top: 10px;
}

.payment-icon,
.app-icon {
    margin-left: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.our-products h3,
.e-mail h2 {
    color: rgb(197, 218, 237);
}

.our-products ul {
    list-style: square;
    padding-left: 25px;
    padding-top: 10px;
    color: rgb(197, 218, 237);
}

.our-products li {
    padding: 2px;
    font-size: 14px;
}

.e-mail-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #27435d;
    margin-top: 15px;
    padding: 5px 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 10px, rgba(255, 255, 255, 0.6) 0px 0px 10px;
}

.e-mail input {
    font-size: 14px;
    color: #3e4d72;
    border: none;
    outline: none;
    padding-left: 10px;
    font-weight: 550;
}

footer p {
    text-align: center;
    color: rgb(197, 218, 237);
    font-size: 13px;
}

@media (max-width: 600px) {
    header {
        height: 5vh;
        box-shadow: 0 3px 5px -2px rgba(1, 9, 17, 0.6);
    }

    .logo {
        width: 100px;
        margin-top: 5px;
        margin-left: -10px;
    }

    .header-icon {
        display: flex;
        margin: 0px 5px;
    }

    .header-icon svg {
        margin: 5px;
        width: 20px;
    }

    .header-icon span{
        padding:1px 3px ;
        font-size:5px;
        top: 13px;
        left:-15px;
        height: 1vh;
    }

    .search {
        width: 70%;
        height: 50%;
        padding: 3px 10px;
        box-shadow: rgba(22, 43, 97, 0.6) 0px 0px 5px, rgba(22, 43, 97, 0.6) 0px 0px 5px;
    }

    .search span {
        font-size: 16px;
    }

    .search input {
        font-size: 10px;
        height: 16px;
        padding-left: 7px;
    }

    .company-name {
        top: 60px;
    }

    .company-name:before,
.company-name:after {
    width: 100px;
}

    .company-slider h1 {
        font-size: 20px;
    }

    .product-container {
        top: 50px;
    }

    .product-card img{
        width: 130px;
        height: 130px;
    }

    .product-card h1 {
        font-size: 15px;
        margin: 5px 0px;
    }
    
    .product-card h3 {
        font-size: 11px;
        color: rgb(73, 68, 68);
        font-weight: lighter;
    }
    
    .product-card h2 {
        font-size: 15px;
    }
    .product-card button {
        padding: 5px;
        margin-top: 5px;
        border-radius: 10px;
    }

    footer {
        top: 50px;
        padding-top: 10px;
    }

    .foot-logo img {
        margin-top: -30px;
        width: 100px;
        margin-left: -25px;
    }

    .payment-app-container {
        flex-direction: column;
    }

    .payment-methods img {
        width: 35px;
        margin: 0px;
    }

    .download-apps img {
        width: 40px;
        margin: 0px;
    }

    .app-icon,
    .payment-icon {
        margin: 0px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .payment-methods h2,
    .download-apps h2 {
        font-size: 10px;
        padding: 0px;
    }

    .our-products ul {
        padding-top: 0px;
        padding-left: 15px;
    }

    .our-products li {
        padding: 0.5px;
        font-size: 8px;
    }

    .our-products h3,
    .e-mail h2 {
        font-size: 12px;
    }

    .e-mail {
        display: flex;
        margin-top: 15px;
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .e-mail-container span {
        font-size: 16px;
    }

    .e-mail-container {
        padding: 0px;
        margin: 0px;
        width: 100%;
        margin-left: 10px;
        border-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.6) 0 0 3px;
    }

    .e-mail input {
        font-size: 12px;
        padding: 2px 0px 0px 8px;
        width: 80%;
    }

    footer p {
        font-size: 7px;
        margin: 3px;
    }

    .payment-methods,
    .download-apps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .payment-app-container {
        margin: 0px;
    }

}